.main-div {
	background-color: lightgrey;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background-color: whitesmoke;
	border-radius: 5px;
	padding: 2%;
}

.btn {

}