/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;  
}*/
#bodyApply{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cover   {

    background:url('https://source.unsplash.com/EA7vfFpTJB4/1920x1080');
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.containerApply{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 2.5% 5%;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgba(229, 229, 217,.7);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}
.containerApply h1{
    margin-bottom: 25px;
    border-bottom: 4px solid rgb(7, 138, 218);
}
.containerApply label{
    font-weight: bolder;
    text-transform: uppercase;
/*    border-top: 5px solid white;
    border-left: 2px solid white;
    border-radius: 15px;
    vertical-align: middle;*/
}
/*.containerApply input{
    border-radius: 45px;
}*/
.containerApply form button{
/*    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;*/

    color: rgb(220,220,220);
    background: rgb(88, 142, 191);
/*    padding: 15px 40px;*/
/*    border-radius: 4px;*/
/*    font-weight: normal;*/
    transition: all 0.2s ease-in-out;
}

.containerApply form button:hover {
    color: rgba(229, 229, 217);
    background: rgb(0, 100, 191);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}
